/* make side bar static, so when the images are scrolled the side bar doesn't move.
Put scroll bars in the main and side divs separately.
Add styling to all elements for spacing, etc. as needed.
Possible header. 
media query or css to make side bar not at bottom when small screen */

.full-body {
    width: 100%;
}

.row {
    width: 100%;
}

#main {
    /* add background image that will lose opacity when gifs are loaded. Keep background underneath black */
    background: url(../images/muscle-cars.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    margin-left: 0;
    color: white;
}

#side {
    background-color: lightslategray;
    padding-top: 2rem;
    margin-right: 0;
    min-height: 100vh;
}

.make-image {
    margin: 10px 5px;
}

#vehicles {
    padding-left: 1rem;
    margin-top: 2rem;
}

.d-inline-block {
    margin: 10px;
    border: 8px solid white;
}

.rating {
    border-top: 3px solid white;
    background-color: black;
    margin: 0;
    padding: 0 0 4px 45px;
}

#userVehicle {
    margin-bottom: 2rem;
}